@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600;700&family=Lato:wght@300&display=swap");


/* SPACING SYSTEM (px) 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

FONT SIZE SYSTEM (px) 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98  */

/* navigation-section-start */
nav {
  background-color: #d20b12;
  height: 80px;
  width: 100%;
    display: flex;     
}

nav a{padding: 2px;
}

nav a:hover{background-color: #fff;
color: #333;}

nav a:focus{background-color: #fff;
color: #333;}


.desktop {
  display: none;
}

/* navigation-section-end */

/* heading-section-start */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}
/* heading-section-end */

/* paragraph-section-start */
p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

nav a{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* paragraph-section-end */
/* menubar-section-start */
.menu {
  color: #333;
  margin: 10px;
  display: block;
  float: left;
}

i {
  margin: 4px;
  display: inline-block;
}
/* menubar-section-end */

/* logo-section -start   */
.mainicon {
  align-items: center;
}

.mainicon,
.img1 {
  height: 60px;
  display: block;
  margin: 0 auto 0 auto;
}
/* logo-section-end */

/* body-section-start */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
/* body-section-end */

/* dropdown-menu-start */

.dropbtn {
  background-color: #d20b12;
  color: white;
   padding: 8px; 
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #fff;
  color: #333;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d20b12;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.dropdown a:focus {
  background-color: #ddd;
}
.show {
  display: block;
}

/* dropdown-menu-end */

/* first-section-start */
/* Lastest News */
.lastest {
  background-color: #333;
  color: #fff; 
}

.shifter{
   margin: 4px; 
}


.hi {
  display: inline-block;
}

/* carousel-Section */

/* socialmedia-icon-Section */
.socialmedia-icon {
  display: inline-block;
  margin: 0;
  padding: 8px;
}
.left {
  margin-top: 10px;
}

.center {
  text-align: center;
  margin: 16px;
  
}
.pic {
  width: 100%;
  height: 200px;
  
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
max-width: 1000px; 
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
    top: 50%;  
  width: auto;  
  padding: 16px;
  margin-top: -22px; 
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; 
}

.prev2,
.next2{
 display: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  background-color: #717171;
  color: #f2f2f2;
  font-size: 15px;
  padding: 16px 12px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.block {
  display: block;
}

.active,
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

hr {
  border: solid 1px;
  color: #fff;
  width: 100%;
}

.line {
  margin: 0 auto 0 auto;
  width: 90%;
}

.image-container{
  margin: 10px;
  flex-basis: 100%;
}

 .column1 {
   word-break: break-all; 
} 

.column1 h2 {
   display: none;
} 

.column2 {
    word-break: break-all;  
} 


.manpic {
  width: 100%;
  height: 200px;
}
/* first-section-end */

/* second-section-start */
/* Sports */
.background {
  background-color: #fff;
  margin:8px;
}

.full{width: 100%;}

.sports2{display: block;}

.transform {
  display: grid;
  grid-template-columns: repeat(1, 1fr);  
}

/* second-section-end */

/* third-section-start */
/* Entertainment */

.back {
   background-color: #333; 
   
}
.entertainment-background {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  margin: 10px; 
   gap: 1rem;
}



/* .background2 > *{margin: 0 auto 0 auto;  } */

.entertainment-pic {
  margin-bottom: 30px; 
  color: #fff;
  width: 100%;
  
}

.entertainment-middle {
  width: 100%;
  height: 200px;
}

.entertainmentheading{
  color: #fff;
  display: inline-block;
  padding-left: 28px; 
  
  
}

.sub {
  color: #fff;
  word-break: keep-all;
}
/* third-section-end */

/* fourth-section-start */
.pastor {
  flex-direction: column;
  display: flex;
}

.col {
  flex: 1;
  border: #d20b12 solid 5px;
}

.subpics {
  text-align: center;
  margin-top: 24px; 
}

.subpics img {
  width: 80%;
}

.col h4,
p {
  margin: 8px;
}

.testing {
  background-color: #fff;
  margin: 8px;
}

.pastorheading {
  margin: 8px;

  
}
/* fourth-section-end */

/* footer-section-start */
footer {
  background-color: #d20b12;
}

.foot {
  height: 50px;
}

.footerinput {
  width: 100%;
  height: 30px;
  margin-bottom: 16px;
}

::placeholder {
  color: #d20b12;
}

.foot-icon h3 {
  display: inline-block;
  color: #f2f2f2;
}

 .foot-icon {
  color: #fff;
  padding-top: 4px;
} 

.bottom {
  margin: 8px;
}

.copyright {
  margin: 4px;
  color: #fff;
  font-size: 14px;
}

.flexcontainer {
  display: flex;
  flex-basis: 100%;
  gap: 2rem;
  margin: 8px;
}

.glass {
  color: #000;
}
.contact {
  font-size: 15px;
  display: 1fr;
  margin-bottom: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

li a {
  color: #fff;
}

footer a:hover{background-color: #fff;
  color: #333;}
  
  footer a:focus{background-color: #fff;
  color: #333;}

/* footer-section-end */
